:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #ff0000;
  --secondary: #00ff00;
  --background1: #d42222;
  --background2: #311010;
  --ui-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--ui-color);
}

button {
  color: var(--ui-color);
  background-color: var(--primary);
  border: none;
}

button:hover {
  background-color: var(--secondary);
  transform: scale(1.03);
}

#backgroundCanvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: linear-gradient(to right, var(--background1), var(--background2));
}

/* Utility */
.blur {
  backdrop-filter: blur(3px);
  box-shadow: 0 8px 32px black;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.3);
}